@import "table";

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    font-family: 'Dosis', sans-serif;
}

.container{
    background-color: rgb(155, 255, 177);
    width: 100%;
    overflow-x: auto;
}