.table{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-collapse: collapse;
    caption{
        background-color: rgb(9, 37, 8);
        color: white;
        padding: 5px 0;
        position: sticky;
        top: 0;
    }
    thead{
        position: sticky;
        top: 0;
    }
    th{
        font-weight: 800;
        border: 1px solid white;
        background-color: rgb(86, 167, 106);
    }
    td{
        border: 1px solid white;
        overflow-x: auto;
        &::-webkit-scrollbar {
            height: 3px;
            width: 10px;
            background-color: #51ff77;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #002c04;
            border-radius: 10px;
        }
    }
    th, td{
        padding: 10px;
        min-width: 100px;
    }
}

.headers{
    position: sticky;
    top: 0;
    z-index: 1;
    overflow-x: auto;
}

.track{
    display: flex;
    div{
        min-width: 100px;
        background-color: rgb(0, 59, 0);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        border: 1px solid white;
        text-transform: uppercase;
    }
}